@model EPM.Model.DbModel.User

<tr>
    <td>@Model.Name</td>
    <td>@Model.Password</td>
    <td>@Model.DepartmentName</td>
    <td>@Model.RoleName</td>
    <td>
        <a asp-controller="User" asp-action="Update" asp-route-id="@Model.ID">
            修改用户
        </a>
    </td>
    </tr>